.navbar-default{
	background-color: RGB(57,61,73);
	border: 0;
}
.navbar{
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-brand{
	padding: 8px 25px;
	line-height: 50px;
}
.navbar-brand img{
	width: 30px;
	height: 34px;
}
.navbar-return{
	float: right;
	margin-top: 12px;
	padding-right: 15px;
}
.navbar-return img{
	width: 20px;
	height: 24px;
	margin-right: 5px;
}
.navbar-return p{
float: right;
vertical-align: middle;
color: white;
padding-top: 3px;
}
.main{
	width: 100%;
	min-height: 760px;
	text-align: center;
	background-color: RGB(241,241,241);
	padding: 20px 0;
}
.main>.container-fluid{
	width: 80%;
	background-color: white;
	padding: 40px 0;
}

.col-ld-12 .input-group{
	float: left;
	margin: 20px 0 0 25%;
	width: 50%;
	height: 30px;
}
.btn-default{
	color: white;
	padding: 6px 25px;
	background-color: RGB(64,159,255);
}
.btn-default:link {
	color: white;
	background-color: RGB(64,159,255);
}

.btn-default:visited,.btn-default:focus,.btn-default:active,.btn-default:hover{
	color: white !important;
	background-color: RGB(0,132,255) !important;
}
.serach{
	display: none;
}
.col-ld-12 a{
	float: left;
	margin-top: 25px;
	margin-left: 20px;
	text-decoration: none;
	cursor:pointer;
}
.color{
	color: red;
}
.main2{
	display: none;
	margin-top: 20px;
}
.main2>.content{
	padding-left: 40px;
	padding-right: 40px;
}
.content>span{
	float: left;
	margin-top: 8px;
}
.content .input-group{
	float: left;
	width: 300px;
}
.clear{
	clear: both;
}
.nav-tabs{
	margin-top: 20px;
	background-color: RGB(241,241,241);
}
.nav-tabs a{
	color: #555;
}
.tab-content{
	height: 650px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
#tab1>p{
	height: 0;
}
.alert{
	position: absolute;
	width: 380px;
	height: 48px;
	top: 60px;
	left: 35%;
	z-index: 2012;
	display: none;
}
pre{
	border-radius: 0;
	border: 0;
	background-color: white;
	text-align: left;
	overflow: auto;
	margin: 0;
	padding: 0;
	height: 650px;
}
.token.comment, .token.prolog, .token.doctype, .token.cdata{
	float: left;
}
#tab3>p{
	word-break: break-all;
}
.xyhead{
	margin: 10px 0;
}
